# Virtual Environment
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.devcontainer

# SSH Keys
*.pem

# Python
__pycache__/
*.py[codz]
*$py.class

#IDE
.vscode

# Logs
logs/
*.log

# mac
.DS_Store

#doc
docs/*