# Virtual Environment
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Airflow 自動生成的本機設定與暫存
airflow.cfg
airflow.db
webserver_config.py

# SSH Keys
*.pem

# Python
__pycache__/
*.py[codz]
*$py.class

#IDE
.vscode

# Logs
logs/
*.log

# mac
.DS_Store

#doc
docs/000-Architecture Governance.md
docs/temp.md
