# Virtual Environment
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SSH Keys
*.pem

# Python
__pycache__/
*.py[codz]
*$py.class

#IDE
.vscode

# Logs
logs/
*.log

# mac
.DS_Store
nul

#doc
docs/000-Architecture Governance.md
docs/temp.md
